:root {
    --white-color-hero: #fff;
    --background-secondary: #2f303a;
    --color-accent: #212121;
    --color-primary: #757575;
    --color-hover: #2196f3;
    --color-button: #f5f4fA;
    --color-logo: #000;
    --font-family-primary: 'Roboto', sans-serif;
    --background-header: #EcEcEc
}

/*base*/
body {
    color: var(--color-accent);
    background-color: var(--color-button);
    font-size: 14px;
    font-family: var(--font-family-primary);
    letter-spacing: 0.03em;

}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

/*header*/

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.header-background {
    background-color: var(--background-header)
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: var(--color-logo);
}

.web-logo {
    color: var(--color-hover);
}




.menu-link {
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-accent);
    


}

.menu-link:hover {
    color: var(--color-hover);
}

.menu-link-current {
    color: var(--color-hover);
}

.contact {
    margin-top: 0;
    margin-bottom: 0;
}

.contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
    
    
}

.contact-link:hover {
    color: var(--color-hover);
}




/* Hero section*/

.hero {
    text-align: center;
    background-color: var(--background-secondary);
    height: 600px;
    margin-bottom: 94px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-color-hero);
    text-transform: uppercase;
}

.button {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--white-color-hero);
    background-color: var(--color-hover);
}

/*main*/

.title-subject {
    margin-top: 0;
    margin-bottom: 50px;
}

.desc-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

}

.subtitle {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7;
    color: var(--color-primary);
}

.section-title-background {
    background-color: var(--color-button);
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team-Information {
    margin-top: 0;
    margin-bottom: 0;
}

.image-section {
    margin-top: 0;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-text {
    font-size: 16;
    line-height: 16px;
    line-height: 1.18;
    color: var(--color-primary);
}

/*footer*/

.hero-background {
    background-color: var(--background-secondary);
    Height: 252px;
}

.logo-footer {
    display: inline-block;
    margin-top: 60px;
    font-family: 'Raleway';
    color: var(--white-color-hero);
    font-size: 26px;
    text-decoration: none;
}

.footer-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.footer-address {
    display: inline-block;
    margin-bottom: 9px;
    text-decoration: none;
    line-height: 1.71;
    color: var(--white-color-hero);
}



.footer-menu {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
}

.footer-address:hover {
    color: var(--color-hover);
}

.footer-menu-link {
    display: inline-block;
    margin-bottom: 9px;
    line-height: 1.7;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-menu-link:hover {
    color: var(--color-hover);
}


/*portfolio*/

.button-active {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    padding: 10px 32px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    border: none;
    

    min-width: 73px;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;

}

.button-active:hover, .button-active:focus {
    background-color: var(--color-hover);
    color: var(--white-color-hero);
}



.portfolio-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-primary);
}